
.HyperMD-header-1 {
    font-size: 2em !important;
}

.HyperMD-header-2 {
    font-size: 1.8em !important;
}

.HyperMD-header-3 {
    font-size: 1.7em !important;
}

.HyperMD-header-4 {
    font-size: 1.6em !important;
}

.HyperMD-header-5 {
    font-size: 1.5em !important;
}

.HyperMD-header-6 {
    font-size: 1.4em !important;
}

.HyperMD-header-7 {
    font-size: 1.3em !important;
}
